# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Local env files
.env*.local
.env

# Build directory
/.next/
/out/

# Test-related
/coverage

# Turbopack
.turbo

# IDE-specific
.vscode
*.swp